.Container-Sections{
  display:  flex;
  flex-direction: row;
}

.Section-Menu{
  position: fixed;
  left: 0;
  width: 22%;
  height: 100vh;
  background-color: #232F3E;
}

.Section-Sliders{
  position: absolute;
  right: 0;
  width: 78%;
  height: 1000px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.PruebaZindex{
  position: absolute;
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 300px;
  background-color: aqua;
}
